div.user{
	padding:40px;
	padding-left: 20px;
	color: red;
	text-align: center;
	font-size: 25px;
}
div.ip {
	padding: 20px;
	color: red;
	text-align: center;
	font-size: 20px;
}
div.server{
	padding:20px;
	color: red;
	text-align: center;
	font-size: 15px;
}